body{

font-family:Arial;
margin:0;
background:linear-gradient(135deg,#131f58,#dcc4f3);
height:100vh;

}

.container{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.card{

background:rgb(255, 255, 255);
padding:40px;
border-radius:10px;
width:320px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

input{

width:100%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ddd;

}

button{

width:100%;
padding:12px;
background:#667eea;
color:white;
border:none;
border-radius:6px;
cursor:pointer;

}

button:hover{

background:#5563d1;

}

.center-box{

text-align:center;
margin-top:200px;
color:white;

}

.main-btn{

width:200px;
margin:10px;

}

.dashboard{

padding:40px;
background:white;
width:600px;
margin:50px auto;
border-radius:10px;

}

.logout-btn{

width:100px;
background:red;
margin-bottom:20px;

}

ul{

list-style:none;
padding:0;

}

li{

padding:10px;
border-bottom:1px solid #eee;

}